body {
    background: url("../img/rojo.jpg");
    background-attachment: fixed;
  }
  
:root{
    --theme-color:#ca3413 ;
}

#logo{
    background: var(--theme-color);
}


#menu ul li:hover {
    background: var(--theme-color);
}

.post .button-more {
    background: var(--theme-color);
}

#logout{
    background: var(--theme-color);
}

.ui-accordion-header-active, .ui-state-active{
    background-color: var(--theme-color) !important;
}

.ui-state-hover{
    background-color: #ca351360 !important;
}